
@{
    ViewData["Title"] = "AddPerson";
}

<h2>Kullanıcı Ekleme Sayfası</h2>

<form action="/Test/AddPerson" method="post">
    <input type="text" name="UserName" placeholder="Kulanıcı Adı" value="" /><br />
    <button type="submit">EKLEME İŞLEMİ İÇİN TIKLAYINIZ</button>
</form>
